.contianer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.card {
  filter: brightness(70%);
  transition: filter 300ms ease-in-out;
}

.card:hover {
  filter: brightness(100%);
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.release {
  font-size: 14px;
  color: #999;
}
