.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 24px;
  column-gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.poster {
  width: 100%;
  border-radius: 12px;
}

.info {
  padding: 24px;
  border-radius: 12px;
  background-color: rgba(170, 170, 170, 0.25);
  align-self: stretch;
}

.tag {
  display: inline;
  padding: 4px 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  color: black;
  background-color: rgb(222, 34, 34);
  font-size: 12px;
  font-weight: 700;
}

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 8px;
}

.details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 12px;
  color: #ddd;
  font-size: 14px;
  font-weight: 500;
}

.tagline {
  display: inline-block;
  margin: 24px 0;
  font-family: serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 2;
  color: aquamarine;
  line-height: 2;
  word-break: keep-all;
}

.desc {
  margin-bottom: 36px;
  font-size: 18px;
}

.extra {
  color: #aaa;
  margin-bottom: 24px;
}

.link {
  transition: color 150ms ease-in-out;
}

.link:hover {
  color: aquamarine;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .poster {
    width: 50%;
    max-width: 450px;
  }
}
