.profile {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  text-align: center;
}

.profile p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.desc {
  text-align: center;
  font-size: 14px;
  color: #ddd;
  word-break: keep-all;
}

.github {
  margin: 36px 0;
  text-align: center;
}

.github a {
  transition: color 150ms ease-in-out;
}

.github a:hover {
  color: var(--color-brand);
}
