.form {
  padding: 24px 0;
}

.input {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 8px 12px;
  border-bottom: 1px solid #aaa;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  caret-color: var(--color-brand);
  transition: border-color 250ms ease-in-out;
}

.input::placeholder,
.input::-webkit-input-placeholder {
  color: #aaa;
}

.input:hover,
.input:active,
.input:focus {
  border-color: var(--color-brand);
}
